@charset "utf-8";

a, abbr, address, article, aside, audio, body, canvas, caption, cite, dd, details, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, img, label, legend, li, menu, nav, object, ol, p, section, span, strong, summary, table, tbody, td, tfoot, th, thead, tr, ul, video 
{  }
html, body {
    font-family: 'GMarketSans', '돋움', Dotum, '굴림', Gulim, Helvetica, 'Apple SD Gothic Neo', Tahoma, Geneva, sans-serif, verdana;
    font-size: 16px;
    color: #666666;
    line-height: 1.66;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.04em;
}

.only24{position:absolute; top:20px; right:-150px;}
.only24 img{width:80%;d}
.hd_pops_con p{margin:0px;}
.more{display:block;overflow: hidden;position:absolute;top:-10px;right:-13px;width:50px;height:50px;border:0;font-size:0;}
.more a:before,
.more a:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.more a:before {width: calc(90%/2);height: 2px;background: #ff0200;}
.more a:after {width: 2px;height: calc(90%/2);background: #ff0200;}
button[data-control]{position:relative;display:inline-block;margin:0 -4px;width:25px;height:25px;vertical-align:middle;overflow: hidden;}
button[data-control]:before,
button[data-control]:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
button[data-control="prev"]:before,
button[data-control="next"]:before{width: calc(100%/2.3);height: calc(100%/2.3);border-width:2px;border-style: solid;border-color: #fff;transform: rotate(45deg);}

button[data-control="prev"].poto:before,
button[data-control="next"].poto:before{width: calc(100%/4.3);height: calc(100%/4.3);border-width:2px;border-style: solid;border-color: #fff;transform: rotate(45deg); }
button[data-control="next"].poto:before{left: -5px;border-width: 2px 2px 0 0;}
button[data-control="prev"].poto:before{right: -5px;border-width: 0 0 2px 2px;}


button[data-control="prev"]:before{right: -5px;border-width: 0 0 2px 2px;}
button[data-control="next"]:before{left: -5px;border-width: 2px 2px 0 0;}
button[data-control="stop"]:before{width: 2px;height: calc(100%/2);box-shadow: -3px 0 #333, 3px 0 #333;}
button[data-control="play"]:before{right: -5px;width: 0;height: 0;border-width: 10px 0 10px 15px;border-style: solid;border-color: transparent transparent transparent #333;}

.tmpl_ir {background:url(/template/A/images/ir-tmpl.png)no-repeat;}

#body_layout{position: relative;width:100%;}

.layout{position:relative;width:100%;max-width:1240px;margin:0 auto;}
.layout:after {display:block;visibility:hidden;clear:both;content:"";}

.top_link {overflow: hidden;position:relative;height: 48px;background: #1c3e89;}
.top_link:before {display:block;position:absolute;top: 0;left:50%;width:100%;height:100%;margin-left:345px;background:#253042;content:'';}
.top_link .top_list1 {float:left;}
.top_link .top_list1:after {display:block;visibility:hidden;clear:both;content:"";}
.top_link .top_list1 li {display:inline-block;position: relative;overflow:hidden;float:left;}
.top_link .top_list1 li:after {display:block;position:absolute;right:0;top: 50%;content:'';width:1px;height:12px;margin-top: -6px;background:rgba(255,255,255,.3);}
.top_link .top_list1 li:last-child:after {display:none;}
.top_link .top_list1 li a {display:block;width:100%;height:100%;line-height: 48px;padding: 0 20px;text-align:center;color:#fff;font-size: 14px;vertical-align: top;}
.top_link .top_list1 li:first-child a {padding-left:0;}
.top_link .top_list1 li a.ov {background:#fff; color:#242424; }
.top_link .top_list1 li a:hover,
.top_link .top_list1 li a:focus{font-weight:700;}
.top_link .top_list2 {float:right;}
.top_link .top_list2:after {display:block;visibility:hidden;clear:both;content:"";}
.top_link .top_list2 li {float:left;height: 100%; position:relative;}
/* .top_link .top_list2 li:after {display:block;position:absolute;right:0;top: 50%;content:'';width:1px;height:12px;margin-top: -6px;background:rgba(255,255,255,.3);} */
.top_link .top_list2 li a {display:block;width:100%; height: 100%; color:#fff;font-size:14px;line-height:48px;padding: 0 20px;vertical-align: top;}
.top_link .top_list2 li:last-child a {padding-right: 0;}
.top_link .top_list2 li:nth-child(1) a {padding:0 20px;}
.top_link .top_list2 li:nth-child(1) span {display:inline-block; width:32px; height:24px; margin-right:7px;background:url(/template/A/images/toplink_img01.png)no-repeat;vertical-align:middle;}
/* .top_link .top_list2 li:nth-child(2) a {width:275px;padding: 3.5px 0 0;text-align:center;} */
.top_link .top_list2 li:nth-child(2) span {display:inline-block;width:243px;height:41px;margin: 3.5px 0 0;background-image:url(/template/A/images/toplink_img02.png);vertical-align: top;font-size:0;}

#top_layout{display:block;position: relative;width:100%;height: 90px;text-align:center;}
#top_layout.on {z-index:9999;}
#top_layout .top_wrap {position:relative;width:100%;max-width:1240px;margin:0 auto;}
#top_layout .top_wrap .logo_wrap {position:absolute;z-index: 3;left: 0;top: 18px;}
#top_layout .top_wrap .logo_wrap a {display:block;color:#1a1a1a;font-size:20px;font-weight:700;line-height: 35px;vertical-align: top; letter-spacing:-0.09em;}
#top_layout .top_wrap .logo_wrap span {display:inline-block;position:relative;width:113px;height:35px;margin: 0 24px 0 0;background:url(/theme/J_basic/img/com/logo.png)no-repeat;vertical-align: middle;font-size:0;}
#top_layout .top_wrap .logo_wrap span:after {display:block;position:absolute;top: 10px;right:-12px;content:'';width:1px;height:18px;background:#ababab;}
#top_layout .top_wrap .utile_wrap {position:absolute;top: 0;right: 0;z-index: 4;height: 90px;}
#top_layout .top_wrap .utile_wrap:after {display:block; clear:both; visibility:hidden; content:'';}
#top_layout .top_wrap .utile_wrap li {float:left; }
#top_layout .top_wrap .utile_wrap li.search {position:relative;width:80px; height:100%;border-left:1px solid #ddd;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap {position:relative;height:100%;}
/* #top_layout .top_wrap .utile_wrap li.search .search_wrap > a {display:block;width:90px;height:100%;line-height:90px;font-size: 15px;color:#333;text-align: center;} */
#top_layout .top_wrap .utile_wrap li.search .search_wrap > a span {display:inline-block;width:20px;height:100%;margin-left: 5px;background:url(/template/A/images/search.png)no-repeat center;vertical-align: middle;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap.on > div {display:block;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div {display:none; position:absolute; right:0; top:90px; width:500px;border:5px solid #0056b3;background:#fff;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap {width:100%; height:100%; padding:30px; }
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap form {position:relative;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap input[type="text"]{width:100%; height:45px; line-height:45px; padding:0 60px 0 10px;border:1px solid #c4c4c4;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap input[type="submit"]{position:absolute; right:0; top:0; width:60px; height:45px; line-height:45px; background:#555b69; color:#fff; font-size:15px; text-align:center;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose {display:block; position:absolute; right:-26px; top:-130px; width:90px; height:90px; background:#0056b3;}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose span {display:block; position:relative; width:100%; height:100%;font-size:0; }
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose span:before,
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose span:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto; transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose span:before {width: 40px;height: 1px;background: #fff;} 
#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose span:after {width: 1px;height:40px;background: #fff;}



#top_layout .top_wrap .utile_wrap li.pc {width: 55px;height: 100%;/* border-left:1px solid #ddd;border-right:1px solid #ddd; */ position:relative;}
#top_layout .top_wrap .utile_wrap li.pc a {/* display:block; width:100%; height:100%; background:url(/template/A/images/menu.png)no-repeat center; font-size:0; */}
#top_layout .top_wrap .utile_wrap li.mo {display:none;}
#top_layout .top_wrap .utile_wrap li.mo button {}




#top_layout.on + .gnb_bg {display: block;}
#top_layout + .gnb_bg{display: none;position: fixed;top:90px;left: 0;z-index: 9998;width: 100%;height: 100%;background: #000;opacity: 0.5;content:'';transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;}

#gnb_layout{display: block !important;overflow:hidden;position:absolute;top: 0;left: 0;width: 100%;height: 90px;min-height: 90px;transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;}
#gnb_layout:after{top:90px}
#gnb_layout.open{}
#gnb_layout.open:after{position: absolute;top: 0;bottom: 0;right:0;width: 100%;height:auto;border-top:1px solid #ddd;background: #fff;content:"";}
#gnb_layout.open:before{display:block;position:absolute;top: 0;right: 50%;z-index: 1;width:100%;height:100%;margin-right: 350px;background: #fff;content:'';}
#gnb {position: absolute;top:0px;left: 0;width: 100%;height:90px;min-height: 90px;border-bottom: 1px solid #ddd;z-index:2;background: #fff;}
#gnb_layout.action{position:relative;background-color:#fff;}
#gnb_layout .layout{position:relative;max-width: 1240px;height: 100%;padding: 0 160px 0 280px;}
#gnb_layout .depth1_ul{display:inline-block;float: none;height:100%;z-index:14;}
#gnb_layout .depth1_ul:after {display: block; content: ''; clear: both;}
#gnb_layout .depth1_ul>li{display:inline-block;float:left;height:100%;margin: 0;vertical-align:top;}    
#gnb_layout .depth1_ul>li>a{position:relative;display:block;height:100%;padding: 0 26px; font-size: 20px; color: #131313; line-height: 80px; text-align: center;
    font-weight: 500; letter-spacing:0;transition: all .3s;text-align:center;}
#gnb_layout .depth1_ul>li>a:before {display:block;position:absolute;left: -2px;top: 50%;content:'';width: 4px;height: 4px;margin-top: -2px;background: #d5d5d5;}
#gnb_layout .depth1_ul>li:first-child>a:before {display:none;}
#gnb_layout .depth1_ul>li>a:after {display:block;position:absolute; left:50%; bottom:0;width:0; height:5px;content:'';transition: all 0.3s ease;-webkit-transition: all 0.3s ease;}
#gnb_layout .depth1_ul>li>a.current:after {left:0; width:100%;}
#gnb_layout .depth1_ul>li>a.current + .item{opacity: 1;display: block}
#gnb_layout .depth1_ul>li>a span{display: inline-block;position: relative;height: 100%;line-height: 90px;vertical-align: middle;}
#gnb_layout .depth1_ul>li>a.current span:before {display:block;position:absolute;left:50%;bottom:5px;margin-left: -6px;border-right: 6px solid transparent;border-left: 6px solid transparent;border-bottom: 6px solid #0056b3;content:'';}
#gnb_layout .depth1_ul > li .item{display: none;position:absolute;top: 90px;left: 0;z-index: 100;width: 100%;/* min-height: 260px;margin: 35px 0 50px; */ min-height: 50px;margin: 35px 0 0px;padding-left: 270px;text-align: left;}
#gnb_layout .depth1_ul > li .item .gnb-title {position:absolute;top:0;left: 0;height:100%;width: 270px;padding: 0;background: url(/template/A/images/gnb_obj.png)no-repeat 95% 100%;text-align: left;}
#gnb_layout .depth1_ul > li .item .gnb-title strong{display:block;position:relative; margin:0 0 30px; font-size:25px; font-weight:700; color:#333;}
#gnb_layout .depth1_ul > li .item .gnb-title strong:after {display:block;position:absolute;left:0;bottom:-14px;width:30px; height:2px; background:#333; content:'';}
#gnb_layout .depth1_ul > li .item .gnb-title p{display:block;width:100%;padding:0; margin:0; font-size:16px;color: #666666;line-height:1.5;}
#gnb_layout .depth1_ul > li .item .gnb-depth {position:relative;height:100%;min-height: 243px;margin: 0 0 0 18px;}
#gnb_layout .depth1_ul > li .item .depth2_ul{float:left;position: relative;top: 0;height: 100%;min-height: 243px;width: 100%;text-align:  left;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li{display: block;float: left;position:relative;width: 25%;padding: 0 0 0 25px;margin: 0 0 20px;text-align: left;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a{display:block;position: relative;min-height: 45px;margin: 0 0 0px;border: 1px solid #ddd;color: #555555;font-size: 16px; letter-spacing:-0.05em; line-height: 1.3;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a.on {border:1px solid #0056b3; color:#0056b3;font-weight:500;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a:after {display:block;position:absolute;top: 50%;right: 15px;width: 6px;height: 6px; margin-top:-5px; border: solid #7f7f7f;border-width:0 1px 1px 0;content:'';transform: rotate(45deg);-webkit-transform: rotate(45deg);}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a > span {display:block; padding: 12px 24px 12px 15px; border:2px solid transparent;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a.on > span {border:2px solid #0056b3; }
#gnb_layout .depth3_ul {display: block;}
#gnb_layout .depth3_ul > li {position:relative;padding: 0 20px 0 25px;}
#gnb_layout .depth3_ul > li a {display:block;width:100%;margin: 5px 0;font-size: 14px;color: #353535;}
#gnb_layout .depth3_ul > li a:after{display:block;position:absolute;top:11px;left: 15px;width:3px;height:3px;background: #afafb0;content:'';}
#gnb_layout .depth3_ul > li a > span {display:inline-block;position:relative;}
#gnb_layout .depth3_ul > li a:hover,
#gnb_layout .depth3_ul > li a:focus {color:#0056b3; font-weight:500;}
#gnb_layout .depth3_ul > li a:hover span:before,
#gnb_layout .depth3_ul > li a:focus span:before {display:inline-block; position:absolute; left:0; bottom:0; width:100%; height:1px;background:#0056b3; content:''; }
#gnb_layout .depth3_ul > li a:hover:after,
#gnb_layout .depth3_ul > li a:focus:after {background:#0056b3;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li.wid30{display: block;float: left;position:relative;width: 35%;padding: 0 0 0 25px;margin: 0 0 20px;text-align: left;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li.wid40{display: block;float: left;position:relative;width: 43%;padding: 0 0 0 25px;margin: 0 0 20px;text-align: left;}



/*.modal-open #body_layout {position: relative;z-index: -1;}
.modal-open #top_layout .top_wrap #logo{z-index:-1;display: none;}
.modal-open .mo_depth1 {z-index:-1;display:none;}*/

/* target="_blank" 아이콘 추가 */
#gnb_layout .depth1_ul>li>a[target="_blank"] span:after {display:inline-block;width:14px;height:14px;margin:-2px 0 0 5px;background:url(/template/A/images/link_icon.png) no-repeat;border: 0;transform: none;content:'';vertical-align:middle;}
#gnb_layout .depth1_ul > li .depth2_ul > li > a[target="_blank"] span:after {display:none;}
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a[target="_blank"]:hover:after, 
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a[target="_blank"]:focus:after, 
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a[target="_blank"]:after,
#gnb_layout .depth1_ul > li .item .depth2_ul > li > a.on[target="_blank"]:after {left:auto;top: 50%;right:13px;width:14px;height:14px;margin-top: -7px;border: none;background:#fff url(/template/A/images/link_icon.png)no-repeat;transform: rotate(0);-webkit-transform: rotate(0);}
#gnb_layout .depth3_ul > li > a[target="_blank"] span:after {display:inline-block; width:14px; height:14px;margin-left:5px; background:url(/template/A/images/link_icon.png)no-repeat; content:'';}
#gnb_layout .depth3_ul > li a[target="_blank"]:hover span:after,
#gnb_layout .depth3_ul > li a[target="_blank"]:focus span:after {position: static;}

@media screen and (max-width:1279px){	
	.layout {max-width:100%;padding: 0 20px;}
	.top_link:before {left:auto;right: 0;width: 290px;margin:0;}
	.top_link .top_list2 li:nth-child(1) {display:none;}
	.top_link .top_list2 li:nth-child(2) a {width:auto;}
	
	#top_layout {height:75px}
	#top_layout .top_wrap {max-width:100%; padding:0 20px;}
	#top_layout .top_wrap .logo_wrap {left:20px;top: 19px;}
	#top_layout .top_wrap .logo_wrap a {font-size: 18px;}
	#top_layout .top_wrap .logo_wrap span {width:97px; height:30px; background-size:97px 30px;}
	#top_layout .top_wrap .logo_wrap span:after {top: 7px;}
	#top_layout .top_wrap .utile_wrap {height: 75px;}
	#top_layout .top_wrap .utile_wrap li.search .search_wrap > a {width: 55px;line-height:75px;font-size: 0;}
	#top_layout .top_wrap .utile_wrap li.search .search_wrap > a span {margin:0}
	#top_layout .top_wrap .utile_wrap li.search .search_wrap > div {top:75px;}
	#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose {top:-80px;width: 55px;height:75px;}
	#top_layout .top_wrap .utile_wrap li.pc {width:55px;}



	#gnb_layout{min-height:75px;}
	#gnb {height:75px;min-height: 75px;}
	#gnb_layout .layout{padding: 0 91px 0 265px;}
	#gnb_layout:after{top:75px}
	#gnb_layout.open:before {display:none;}
	#gnb_layout .depth1_ul>li>a {padding: 0 30px;font-size: 16px;}
	#gnb_layout .depth1_ul>li>a span{line-height: 60px;}
	#gnb_layout .depth1_ul > li .item {top: 75px; padding:0;}
	#gnb_layout .depth1_ul > li .item .gnb-title  {display:none;}
	#gnb_layout .depth1_ul > li .item .gnb-depth {margin:0 20px;}
	#gnb_layout .depth1_ul > li .item .depth2_ul > li {padding:0 10px}

	
}

@media screen and (max-width:1023px){
	#gnb_layout{display: none !important;}
	
	.top_link:before {width:165px;}
	.top_link .top_list2 li:nth-child(2) span {width:130px;background-image:url(/template/A/images/toplink_img03.png);}

	#top_layout {border-bottom:1px solid #ddd;}
	#top_layout .top_wrap .utile_wrap li.pc {display:none;}
	#top_layout .top_wrap .utile_wrap li.mo {display: block;width: 79px;height: 100%;border-left:1px solid #ddd;}
	#top_layout .top_wrap .utile_wrap li.mo button {width: 24px;
    height: 24px;
    margin: 25px 25px 25px 25px;
    background-position: -63px -14px;}


	#top_layout.on + .gnb_bg {display:none;}
}

@media screen and (max-width:767px){
	#top_layout .top_wrap .logo_wrap {left:15px;top: 15px;height: 35px;}
	#top_layout .top_wrap .logo_wrap a {font-size: 16px;line-height: 25px;}
	#top_layout .top_wrap .logo_wrap span {width: 81px;height: 25px;margin:0 18px 0 0;background-size: 81px 25px;}
	#top_layout .top_wrap .logo_wrap span:after {right: -9px;top: 5px;}

	#top_layout .top_wrap .utile_wrap li.search .search_wrap > div {width: 320px;right: -55px;}
	#top_layout .top_wrap .utile_wrap li.search .search_wrap > div .form_wrap .clickClose {right:50px;}
	.top_link .top_list1 {display: none;}
	.user-control .ico-menu, .mo .ico-menu {
    width: 24px;
    height: 24px;
    margin: 25px;
    background-position: -63px -14px;
	}
	.member-step {
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 2rem;
}


}



/* mobile menu */

#mobile-menu {overflow: visible;z-index: 999;}
#mobile-menu .modal-dialog {position: relative;top:0;right:0;z-index: 99999;float:right;width: 340px;height: 100%;margin: 0;border-radius: 0;-webkit-transform: translate(25%,0);transform: translate(25%,0);}
#mobile-menu.in .modal-dialog,
#mobile-menu.show .modal-dialog {-webkit-transform:translate(0,0);transform: translate(0,0);}
#mobile-menu .modal-dialog .mo_top_untill {}
#mobile-menu .modal-dialog .mo_top_untill ul {padding:10px 0;background:#fff;}
#mobile-menu .modal-dialog .mo_top_untill ul:after {display:block; clear:both; visibility:hidden; content:'';}
#mobile-menu .modal-dialog .mo_top_untill ul li {display:inline-block; float:left; position:relative; width:33.33%;}
#mobile-menu .modal-dialog .mo_top_untill ul li:after {display:block; position:absolute; top:3px; bottom:3px; content:''; width:1px; height:auto; background:#d3d3d3;}
#mobile-menu .modal-dialog .mo_top_untill ul li:first-child:after {display:none;}
#mobile-menu .modal-dialog .mo_top_untill ul li a {display:block; font-size:13px; color:#232323;}
#mobile-menu .modal-dialog .modal-content {position: relative;width:100%;height:100%;/* padding:95px 0 0; */border-radius: 0;}
#mobile-menu .modal-dialog .modal-content .modal-body {position: static;height:100%;padding: 0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul {overflow-y: scroll;overflow-x: hidden;position: absolute;top: 0;width: 100%;height: calc(100% - 40px);background: #454a50;text-align:left;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li {position:relative;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a {display:block;/* min-height: 55px; */padding: 13px 45px 13px 25px;border-bottom: 1px solid rgba(255,255,255,.2);background: #454a50;color:#fff;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a:after {display:block;position:absolute;right: 20px;top: 19px;width: 12px;height: 12px;border-width:1px;border-style: solid;border-color: #fff;border-width: 1px 1px 0 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov {background: #112f58;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a.ov:after {border-width:0 1px 1px 0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > a span {display:block;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul > li > .item .gnb-title {display: none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul {}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li {}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a {display:block;position:relative;/* min-height: 55px; */padding: 13px 45px 13px 25px;border-bottom:1px solid #cbcbcb;background:#fff;color:#222;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a:before,
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a:after {content: '';position: absolute;top: 0;bottom: 0;margin: auto;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a:before {right:20px; width: 20px;height: 1px;background: #b2b2b2;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a:after {right:29px; width: 1px;height: 20px;background: #b2b2b2;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.ov:after {display:none;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a.ov {font-weight: 700; color: #e10059;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul > li > a span {display:block; letter-spacing: -0.09em;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul {display:none;padding: 10px 0;background: #eceeef;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li {position:relative;margin: 8px 0;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li:after {display:block;position:absolute;left: 35px;top:12px;width:3px;height:3px;border-radius: 50%;background: #9e9f9f;content:'';}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a {display:block;padding-left: 45px;}
#mobile-menu .modal-dialog .modal-content .modal-body .depth1_ul .depth2_ul .depth3_ul > li > a span {display:block;font-size:15px;color: #000;}
#mobile-menu .mobile-close {display: none;position:absolute;top: 0;left:-53px;}
#mobile-menu .mobile-close span {display:block; position:relative; width:53px; height:53px; font-size:0;}
#mobile-menu .mobile-close span:before,
#mobile-menu .mobile-close span:after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto; transform:rotate(45deg);-webkit-transform:rotate(45deg);}
#mobile-menu .mobile-close span:before {width: calc(100%/2);height: 1px;background: #fff;}
#mobile-menu .mobile-close span:after {width: 1px;height: calc(100%/2);background: #fff;}
.modal-backdrop.in{opacity: .8;z-index: 9;}

